<aside class="absolute top-4 right-4">
    <ng-container
    *ngIf="isFavourite; then favourite; else notFavourite"
    class="material-icons"
  ></ng-container>

    <ng-template #notFavourite>
      <button
        (click)="onFavoriteClick()"
        class="border border-slate-300 rounded-full flex justify-center items-center p-2 text-gray-500 bg-slate-100 hover:bg-green-400">
        <span class="material-icons"> favorite </span>
      </button>
    </ng-template>
    
    <ng-template #favourite>   <button
        (click)="onUnFavoriteClick()"
        class="border border-slate-300 rounded-full flex justify-center items-center p-2 text-red-500 bg-slate-100 hover:bg-green-400">
        <span class="material-icons"> favorite </span>
      </button>
    </ng-template>
</aside>
